!SuperCommanderV2.0/.mvn/wrapper/maven-wrapper.jar
*.log
.idea/
design/
target/
.classpath
.project
.apt_generated
.class
.factorypath
.springBeans
.sts4-cache
.settings/
/src/main/resources/application.properties
SuperCommander.iml
